@font-face {
    font-family: "Circular";
    src: url("../assets/Circular/CircularStd-Bold.ttf");
    src: url("../assets/Circular/CircularStd-Book.ttf");
    src: url("../assets/Circular/CircularStd-Black.ttf");
    src: url("../assets/Circular/CircularStd-Medium.ttf");
  }

body{
    background-color: #000;
    font-family: "Circular", CircularStd-Bold;
}

button{
    background-color: transparent;
    border: none;
}
/* SIDEBAR */
.sidebar{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding:0.43rem;
    width:19.5rem;
    margin-top: 3px;
}

.sidebar__navigation{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    background-color: #121212;
    border-radius:0.5rem;
    padding:1.3rem 0 0 1.2rem;
    height: 135px;
}

.logo{
    top: 0;
    left: 0;
}

.sidebar__navigation .logo button img{
    width:5rem;
    cursor: pointer;
}

ul {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
}
ul li {
    display: flex;
    justify-content: space-between;
}  

.home-icon{
    color: #b3b3b3; /* Cor do texto para o botão de Buscar */
    padding-right: 12px;
    margin-left: -15px; 
    width: 300px;
    height: auto;
}

.home_button {
    margin-top: -15px;
    color: #b3b3b3; /* Cor do texto para o botão de Início */
    padding: 0px 2px; /* Preenchimento interno do botão de Início */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    cursor: pointer; /* Adiciona um cursor apontando ao passar o mouse sobre o botão */
    font-size: 16px;
    font-weight: 600;
}

.search-icon {
    color: #b3b3b3; /* Cor do texto para o botão de Buscar */
    padding-right: 22px;
    margin-left: -18px; /* Adiciona um cursor apontando ao passar o mouse sobre o botão */
    font-size: 20px; 
}

.search__button {
    color: #b3b3b3; /* Cor do texto para o botão de Buscar */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Adiciona um cursor apontando ao passar o mouse sobre o botão */
    font-size: 14px;
    font-weight: 600;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 1.25rem; 
    padding: 0 1.25rem 0.625rem 1.25rem; 
}

.sidebar nav ul li {
    padding: 0.625rem 0; 
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem; 
}

.sidebar nav ul li .home-icon {
    font-size: 1.25rem; 
    margin-right: 0.625rem; 
    font-weight: 300;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem; 
    display: flex;
    justify-content: space-between;
    min-block-size: 2.5rem; 
    padding: 0.25rem 0.5rem; 
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem; 
    margin-top: 0.5rem; 
    flex-direction: column;
    height: 24.063rem;
}

.library .library__button {
    margin-right: 0.625rem; 
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-family: "Circular", CircularStd-Bold;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 1.25rem 0.625rem; 
    display: flex;
    cursor: pointer;
}

.library .library__button .library-icon {
    font-size: 1.85rem; 
    margin-right: 0.625rem; 
    padding-right: 0.5rem; 
    margin-top: -0.3rem;
    cursor: pointer;
}

.library .plus-icon{
    margin-right: 0.625rem; 
    padding-right: 0.5rem; 
    margin-top: 1.4rem;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.section-playlist {
    background-color: #242424;
    align-items: flex-start;
    border-radius: 0.5rem; /* 8px para rem */
    gap: 1.25rem; /* 20px para rem */
    display: flex;
    justify-content: space-between;
    min-block-size: 2.5rem; /* 40px para rem */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem; /* 14px para rem */
    margin: 0.5rem 0;
    padding: 1rem 1.25rem; /* 16px, 20px para rem */
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 0.875rem; /* 14px para rem */
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 0.8rem; /* 12.*/
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    color:#000;
    border-radius: 1.25rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration:none;
    text-transform: none;
    padding:0.625rem;
    margin-top: 0.8rem;
    border:0;
    width: 7.063rem;
}

.cookies{
    margin:1.563rem 0.5rem;
}

.cookies-button{
    color:#b3b3ae;
    font-weight: 500;
    font-size:0.75rem;
    text-decoration: none;
}


.languages .languages__button{
    align-items: center;
    background-color: transparent;
    border: 0.063rem solid #878787;
    color:#FFF;
    font-weight: bold;
    cursor:pointer;
    width: 10.625rem;
    margin:0.5rem;
    padding:0.5rem;
    border-radius:1.25rem;
}

.globe-button{
    padding-right: 5px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0.525rem;
    left: 0.525rem;
    right: 0.525rem;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 0.638rem 1.0rem;
    display: flex;
    justify-content: space-between;
}
.disclaimer-premium .text {
   flex-shrink: 0;
   cursor: pointer;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    font-family: "Circular", CircularStd-Black;
    font-weight:500;
    font-size: 0.9rem;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.875rem 1.875rem;
    border: 0;
    border-radius: 2.5rem;
    cursor: pointer;
    flex-shrink: 0;
}

/* HOVER*/

.cookies-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header__search:hover {
    border: 1px solid #fff;
  }

.header__login .subscribe:hover {
    transform: scale(1.04);
    color: #fff;
    cursor: pointer;
  }
  
.header__login .login:hover {
    transform: scale(1.04);
    cursor: pointer;
  }

.section-playlist__content .section-playlist__button:hover{
    transform: scale(1.04);
    cursor: pointer;
  }

.languages .languages__button:hover{
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
  }

.disclaimer-premium button:hover{
    transform: scale(1.04);
    cursor: pointer;
  }

.library .library__button:hover{
    color: #fff;
}

.sidebar .home_button:hover {
    color: #fff;
}

.home-icon:hover{
    color: #fff;
}

.sidebar .search__button:hover {
    color: #fff;
}

.search-icon:hover{
    color: #fff;
}

.library .library__content .plus-icon:hover{
    color: #fff;
    cursor:pointer;
}