@font-face {
  font-family: "Circular";
  src: url("./assets/Circular/CircularStd-Black.ttf");
  src: url("./assets/Circular/CircularStd-Book.ttf");
  src: url("./assets/Circular/CircularStd-Black.ttf");
  src: url("./assets/Circular/CircularStd-Medium.ttf");
}

body{
  background-color: #000;
  font-family: "Circular", CircularStd-Bold;
}
